/* src/index.css */

:root {
  --color-bg: #0f172a;
  --color-sidebar: #1e293b;
  --color-panel: #1e293b;
  --color-interactive: #475569;
  --color-primary: #22c55e;
  --color-border: rgba(255, 255, 255, 0.1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;